<div class="bg-white">
    <div>
        <div class="mx-auto max-w-7xl px-8 py-20 lg:grid lg:grid-cols-2 lg:gap-x-8">

            <div class="container w-full max-w-[800px] h-[660px] flex justify-center items-center gap-5 overflow-hidden transition-all duration-500">
                <div
                    *ngFor="let foto of producto?.fotos"
                    class="group flex-1 h-[600px] transition-all duration-500 cursor-pointer hover:flex-[3]">
                    
                    <img
                    [src]="foto"
                    alt="Imagen del producto"
                    class="w-full h-full object-cover block transition-all duration-300 group-hover:grayscale-0 grayscale rounded-xl shadow-lg"
                    />
                </div>
            </div>

            <div class="px-4 pt-5 pb-5 sm:px-6 lg:px-8 lg:pt-5 lg:pb-5">
                <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{ producto?.nombre }}</h1>
                </div>

                <div class="mt-4 lg:row-span-3 lg:mt-0">
                    <p class="text-2xl tracking-tight text-gray-900">S/.{{ producto?.precio }}</p>
                    <form class="mt-4">
                        <!-- Si tiene variantes -->
                        <div *ngIf="tieneVariantes; else sinVariantes">
                        <!-- COLOR -->
                        <div>
                            <h3 class="text-sm font-medium text-gray-900">Color</h3>
                            <fieldset aria-label="Choose a color" class="mt-4">
                            <div class="flex items-center gap-x-3">
                                <label *ngFor="let color of colores"
                                class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-400 focus:outline-hidden">
                                <input type="radio" name="color-choice" [value]="color.nombre" class="sr-only" (change)="colorSeleccionado = color.nombre">
                                <span aria-hidden="true"
                                    class="size-8 rounded-full border border-black/10"
                                    [ngStyle]="{'background-color': color.codigo_color}">
                                </span>
                                </label>
                            </div>
                            </fieldset>
                        </div>

                        <!-- TALLA -->
                        <div class="mt-4">
                            <div class="flex items-center justify-between">
                            <h3 class="text-sm font-medium text-gray-900">Talla</h3>
                            </div>
                            <fieldset aria-label="Choose a size" class="mt-4">
                            <div class="grid grid-cols-4 gap-2 sm:grid-cols-8 lg:grid-cols-4">
                                <label *ngFor="let talla of tallas"
                                class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-white px-2 py-2 text-xs font-medium text-gray-900 uppercase shadow-xs hover:bg-gray-50 focus:outline-hidden sm:flex-1">
                                <input type="radio" name="size-choice" [value]="talla.nombre" class="sr-only" (change)="tallaSeleccionada = talla.nombre">
                                <span>{{ talla.nombre }}</span>
                                </label>
                            </div>
                            </fieldset>
                        </div>
                        </div>
                        <button
                            (click)="anadirAlCarrito()"
                            [disabled]="!tieneVariantes"
                            type="submit"
                            class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent px-8 py-3 text-base font-medium text-white
                                transition-colors
                                bg-[#adeaae] hover:bg-[#00A63E]
                                disabled:bg-gray-300 disabled:cursor-not-allowed">
                            Añadir al carro
                        </button>

                    </form>
                </div>

                <div class="py-10 lg:col-span-2 lg:col-start-1  lg:pt-6 lg:pr-8 lg:pb-16">
                    
                    <div>
                        <h3 class="sr-only">Description</h3>

                        <div class="space-y-6">
                            <p class="text-base text-gray-900">{{producto?.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Si NO tiene variantes -->
<ng-template #sinVariantes>
  <div class="mt-6 text-center text-lg font-semibold text-red-500">
    ¡MUY PRONTOOOO!
  </div>
</ng-template>