<div *ngIf="isVisible" class="relative z-10" aria-labelledby="cart-title" role="dialog" aria-modal="true">
 
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
  
    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">

          <div class="pointer-events-auto relative w-screen max-w-md bg-white shadow-xl flex flex-col">

            <div class="absolute top-0 left-0 -ml-8 flex pt-4 pr-2">
              <button (click)="cerrarCarrito()" type="button" class="relative rounded-md text-gray-300 hover:text-white focus:ring-2 focus:ring-white">
                <span class="sr-only">Cerrar carrito</span>
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
  
            <div class="flex h-full flex-col py-6 px-4 sm:px-6">
              <h2 class="text-lg font-semibold text-gray-900" id="cart-title">Carrito de Compras</h2>
  
              <div class="mt-6 flex-1 overflow-y-auto">
                <ul class="divide-y divide-gray-200">
                  <app-product-cart></app-product-cart>
                </ul>
              </div>
  
              <div class="border-t border-gray-200 pt-4">
                <div class="flex justify-between text-lg font-semibold text-gray-900">
                  <span>Total</span>
                  <span>$40.00</span>
                </div>
                <button class="mt-4 w-full bg-[#ADEAAE] text-white py-2 rounded-md hover:bg-[#00A63E]">Finalizar Compra</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  